* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
}

.front-page {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.front-page img {
    width: 65px;
    height: 75px;
}

.front-page p {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 31px;
    color: white;
    margin-top: 10px;
}

.front-page button {
    margin-top: 20vh;
    width: 170px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
}

.flashcard-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.flashcard-page header {
    display: flex;
    margin-top: 22px;
    margin-bottom: 40px;
}

.flashcard-page header p {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.flashcard-page header img {
    width: 26px;
    height: 30px;
    margin-right: 10px;
}

.card {
    height: 65px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: white;
}

.card-front, .card-answer {
    position: relative;
    display: flex;
    
    height: 131px;
    width: 300px;
    margin-bottom: 10px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card-front ion-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 25px;
}

.buttons {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.card-answer button {
    width: 85px;
    height: 37px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;

    font-family: 'Recursive';    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.quase-nao-lembrei {
    background-color: #FF922E;
}

.nao-lembrei {
    background-color: #FF3030;
}

.zap {
    background-color: #2FBE34;
}

.card-front p, .card-answer p {
    margin: 10px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.question{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px 10px 0px 10px;
}

.question p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.question ion-icon {
    font-size: 25px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}